body{
    background-color: #161616;
}

h1{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}